* {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* width */
*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: #464a48;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: #a45500;
  border-radius: 3px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #bd6200;
}

a {
  text-decoration: none;
}

.accessibility-link {
  display: block;
  position: absolute;
  padding: 1rem;
  background-color: #212322;
  color: #f07d00;
  border: 3px solid #f07d00;
  border-radius: 5px;
  z-index: 15;
  transform: translateY(-100%);
}

.accessibility-link:focus {
  transform: none;
}

.typed {
  display: inline-block;
}

.wrapper {
  padding: 0;
  position: relative;
  background-color: #212322;
}

.wrapper--main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  height: 300vh;
  position: absolute;
  top: -50%;
  left: 50%;
  padding: 0;
  margin: 0;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
}

.spinner {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-wrapper {
  color: black;
  position: absolute;
  list-style: none;
}

.section {
  position: relative;
  display: inline-block;
  display: block;
  margin: auto;
  box-sizing: border-box;
  padding: 3rem;
  width: 100vw;
  min-height: 100vh;
  color: #f0f0f0;
}
.section__title {
  display: block;
  margin-top: 6rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #f07d00;
}
.section__subtitle {
  color: #bdbdbd;
}
.section__body {
  color: #bdbdbd;
  margin-top: 1rem;
}
.section__main-text {
  position: relative;
  display: block;
  text-align: justify;
  line-height: 1.5rem;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
.section__img {
  position: relative;
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
  max-height: 25rem;
  margin: auto;
}
.section__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: inherit;
  filter: brightness(10%);
  color: #bdbdbd;
  animation-name: undark;
  animation-duration: 3s;
  animation-delay: 3.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.wrapper--main .section {
  transform: translateY(-50%);
}

.word--white {
  color: #f0f0f0;
}

.section:nth-child(even) .section__main-text {
  float: right;
}

.section:nth-child(even) .section__main-text {
  float: left;
}

@keyframes undark {
  0% {
    filter: brightness(10%);
  }
  100% {
    filter: none;
  }
}
.section-wrapper--main {
  position: relative;
}

.section--main {
  background-color: #080909;
}

.light-effect-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  transform: translateY(-50%);
  overflow: hidden;
  animation-name: disappear-light-effect;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  pointer-events: none;
  opacity: 1;
  transition: all 0.3s;
}

.dissolve {
  opacity: 0;
  transition: all 0.3s;
}

.light-bulb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: light-bulb-appear;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.light-bulb__bulb {
  position: relative;
  height: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.466);
}
.light-bulb__wire {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  aspect-ratio: 2/3;
  border: 1px solid orange;
}
.light-bulb__metal {
  position: absolute;
  bottom: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 50%;
  aspect-ratio: 1/1;
  background-color: grey;
}
.light-bulb__rays-wrapper {
  position: absolute;
  left: 0%;
  list-style-type: none;
  width: 100%;
  aspect-ratio: 1/1;
  transform: translateY(20%) translateX(0.17rem) rotate(-100deg);
}
.light-bulb__ray {
  position: absolute;
  transform-origin: top;
  top: 50%;
  left: 50%;
  background-color: rgba(253, 137, 43, 0.116);
  height: 30rem;
  width: 2rem;
  backdrop-filter: brightness(10);
  clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  animation-name: light-ray-expand;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}
.light-bulb__ray:nth-child(1) {
  transform: rotate(0deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(2) {
  transform: rotate(-20deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(3) {
  transform: rotate(-40deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(4) {
  transform: rotate(-60deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(5) {
  transform: rotate(-80deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(6) {
  transform: rotate(-100deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(7) {
  transform: rotate(-120deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(8) {
  transform: rotate(-140deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(9) {
  transform: rotate(-160deg) translateY(3.1rem);
}
.light-bulb__ray:nth-child(10) {
  transform: rotate(-180deg) translateY(3.1rem);
}

@keyframes light-bulb-appear {
  0% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes light-ray-expand {
  0% {
    opacity: 0;
    clip-path: polygon(25% 0, 75% 0, 100% 0, 0 0);
  }
  100% {
    opacity: 1;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  }
}
.section-wrapper:nth-child(1) {
  transform: rotate(0deg) translateY(147vh);
}

.section-wrapper:nth-child(2) {
  transform: rotate(120deg) translateY(147vh);
}

.section-wrapper:nth-child(3) {
  transform: rotate(240deg) translateY(147vh);
}

.section-wrapper:nth-child(4) {
  transform: rotate(360deg) translateY(147vh);
}

.flash-effect {
  position: absolute;
  z-index: 5;
  height: 110vh;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  background-color: #e4e4e4;
  animation-name: flash-appear;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
  opacity: 0;
  pointer-events: none;
}

.scrollbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 1rem;
  overflow-y: scroll;
  z-index: 11;
}

.scrollbar {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 500vh;
}

.scrollto {
  position: absolute;
  bottom: 1rem;
  height: 2rem;
  aspect-ratio: 1/1;
}

.scrollto--left {
  left: 1rem;
  right: auto;
}

.scrollto--left {
  right: 1rem;
  left: auto;
}

.half-page {
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes flash-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  box-sizing: border-box;
  top: 0;
  right: 0;
  right: 0;
  width: 98%;
  z-index: 10;
  border-radius: 100px 0 0 100px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}

.nav__logo {
  height: 4rem;
  aspect-ratio: 1/1;
}

.nav__links-list {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  padding: 2rem;
  width: 60%;
  height: 100vh;
  transform: translateY(100%) translateX(100%);
  z-index: 12;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(15px);
  transition: all 0.4s;
}

.nav__links-list.active {
  transition: all 0.4s;
  transform: translateY(100%);
}

.nav__nav-link-li {
  display: block;
  margin-bottom: 1.5rem;
  transform: translateX(30%);
  opacity: 0;
  animation-fill-mode: forwards;
}

.nav__nav-link-li:nth-child(1) {
  animation-delay: 60ms;
}

.nav__nav-link-li:nth-child(2) {
  animation-delay: 120ms;
}

.nav__nav-link-li:nth-child(3) {
  animation-delay: 180ms;
}

.nav__nav-link-li:nth-child(4) {
  animation-delay: 240ms;
}

.nav__nav-link-li:nth-child(5) {
  animation-delay: 300ms;
}

.active .nav__nav-link-li {
  animation-name: nav-link-appear;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes nav-link-appear {
  0% {
    opacity: 0;
    transition: all 1s;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.nav__nav-link {
  position: relative;
  display: inline-block;
  color: #f0f0f0;
}

.nav__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  max-height: 0;
  background-color: #f07d00;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.2s;
}

.nav__nav-link:hover::after {
  max-height: 3px;
  transition: all 0.2s;
}

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  aspect-ratio: 3/2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger__bar {
  width: 100%;
  height: 3px;
  background-color: #f0f0f0;
  border-radius: 10px;
  transform-origin: 0.2rem;
  transition: all 0.3s;
}

.active .hamburger__bar:nth-child(1) {
  transform: rotate(45deg);
  transition: all 0.3s;
}

.active .hamburger__bar:nth-child(2) {
  opacity: 0;
  transition: all 0.3s;
}

.active .hamburger__bar:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
}

.section__img,
.figure {
  border-radius: 7px;
}

.section__img,
.figure {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.figure {
  aspect-ratio: 3/2;
  margin: auto;
  margin-bottom: 2rem;
}

.figure__content {
  border: none;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.figure__legend {
  text-align: center;
  color: #f0f0f0;
  margin-top: 0.5rem;
}

.catalogs-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.catalog {
  width: 7rem;
  max-width: 25%;
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 1/1;
  transition: all 0.3s;
}
.catalog__logo {
  height: 100%;
  width: 100%;
}

.catalog:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.btn-wrapper {
  display: block;
  position: relative;
}

.btn-wrapper--center {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1rem 1.5rem;
  background-color: #f07d00;
  border-radius: 100px;
  color: #f0f0f0;
  box-shadow: 0 12px 20px 1px rgba(0, 0, 0, 0.15);
}

.btn--white {
  background-color: #f0f0f0;
  color: #f07d00;
}

.btn--margin-top-2 {
  margin-top: 2rem;
}

.btn--margin-top-1 {
  margin-top: 1rem;
}

.btn--margin-bottom-1 {
  margin-bottom: 1rem;
}

.cards-list {
  display: block;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 3rem;
}

.card {
  padding: 0.7rem;
  padding-bottom: 1.5rem;
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
  background-color: #f07d00;
  border-radius: 7px;
  color: #f0f0f0;
}
.card__img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 5/2;
  object-fit: cover;
  box-shadow: 0 5px 20px 1px rgba(180, 94, 0, 0.75);
}
.card__title {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}
.card__p {
  text-align: justify;
  color: rgba(240, 240, 240, 0.8);
}

@media screen and (min-width: 550px) {
  .section {
    width: 80vw;
    max-width: 100%;
  }

  .section__main-text {
    float: left;
    width: 50%;
    margin: auto;
  }

  .section__img {
    width: 25%;
    margin: auto;
  }

  .nav {
    padding: 0.3rem;
  }

  .nav__home-link {
    margin-left: 0.5rem;
  }

  .nav__links-list {
    position: relative;
    display: flex;
    width: 60%;
    height: initial;
    transform: none;
    background-color: transparent;
    backdrop-filter: none;
    justify-content: space-around;
    list-style-type: none;
    padding: 2rem;
  }

  .hamburger {
    display: none;
  }

  .nav__nav-link-li {
    margin-bottom: 0;
    transform: none;
    animation: none;
    opacity: 1;
  }

  .catalog {
    width: 7rem;
    max-width: initial;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1/1;
  }

  .map-image-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .map-image-wrapper .section__img {
    height: 100%;
    width: 40%;
    aspect-ratio: initial;
    margin: 0;
  }

  .figure {
    width: 60%;
    margin: 0;
  }

  .map-image-wrapper .section__img,
.figure {
    max-height: 70vh;
  }
}

/*# sourceMappingURL=styles.css.map */
