$mainColor: #f07d00;
$secondaryColor: #cc4b00;
$bgColor: #212322;
$whiteColor: rgb(240, 240, 240);
$bodyColor: darken($whiteColor, 20%);

$fonts: Calibri, Arial, Helvetica, sans-serif;

$undarkDuration: 5;

html,
body {
  overscroll-behavior-y: contain;
}

* {
  font-family: $fonts;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* width */
*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: lighten($bgColor, 15%);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: darken($mainColor, 15%);
  border-radius: 3px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: darken($mainColor, 10%);
}

a {
  text-decoration: none;
}

.accessibility-link {
  display: block;
  position: absolute;
  padding: 1rem;
  background-color: $bgColor;
  color: $mainColor;
  border: 3px solid $mainColor;
  border-radius: 5px;
  z-index: 15;
  transform: translateY(-100%);
}

.accessibility-link:focus {
  transform: none;
}

.typed {
  display: inline-block;
}

.wrapper {
  padding: 0;
  position: relative;
  background-color: $bgColor;
  overflow-x: hidden;
}

.wrapper--main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

$spinnerHeight: 300vh;

$centeringTransform: translate(-50%, -50%);

.spinner-wrapper {
  height: $spinnerHeight;
  position: absolute;
  top: -50%;
  left: 50%;
  padding: 0;
  margin: 0;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
}

.spinner {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section-wrapper {
  color: black;
  position: absolute;
  list-style: none;
}

$darkFilter: 10%;
.section {
  position: relative;
  display: inline-block;
  display: block;
  margin: auto;
  box-sizing: border-box;
  padding: 3rem;
  width: 100vw;
  min-height: 100vh;
  color: $whiteColor;

  &__title {
    display: block;
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-size: 12.5vw;
    color: $mainColor;
  }

  &__subtitle {
    color: $bodyColor;
  }

  &__body {
    color: $bodyColor;
    margin-top: 1rem;
  }

  &__main-text {
    position: relative;
    display: block;
    text-align: justify;
    line-height: 1.5rem;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }

  &__img {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    height: auto;
    max-height: 25rem;
    margin: auto;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: inherit;
    filter: brightness($darkFilter);
    color: $bodyColor;
    animation-name: undark;
    animation-duration: 3s;
    animation-delay: 3.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.wrapper--main .section {
  transform: translateY(-50%);
}

.word--white {
  color: $whiteColor;
}

.word--orange {
  color: $mainColor;
}

.section:nth-child(even) .section__main-text {
  float: right;
}

.section:nth-child(even) .section__main-text {
  float: left;
}

@keyframes undark {
  0% {
    filter: brightness($darkFilter);
  }

  100% {
    filter: none;
  }
}

.section-wrapper--main {
  position: relative;
}

.section--main {
  background-color: darken($bgColor, $darkFilter);
}

.light-effect-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  transform: translateY(-50%);
  overflow: hidden;
  animation-name: disappear-light-effect;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: #{$undarkDuration}s;
  pointer-events: none;
  opacity: 1;
  transition: all 0.3s;
}

.dissolve {
  opacity: 0;
  transition: all 0.3s;
}

.light-bulb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: light-bulb-appear;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &__bulb {
    position: relative;
    height: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.466);
  }

  &__wire {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    aspect-ratio: 2 / 3;
    border: 1px solid orange;
  }

  &__metal {
    position: absolute;
    bottom: -2.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: grey;
  }

  &__rays-wrapper {
    position: absolute;
    left: 0%;
    list-style-type: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    transform: translateY(20%) translateX(0.17rem) rotate(-100deg);
  }

  &__ray {
    position: absolute;
    transform-origin: top;
    top: 50%;
    left: 50%;
    background-color: rgba(253, 137, 43, 0.116);
    height: 30rem;
    width: 2rem;
    backdrop-filter: brightness(10);
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
    animation-name: light-ray-expand;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
  }

  $raysNum: 9;
  $raysRotation: calc(180deg / $raysNum);
  @for $i from 0 through $raysNum {
    &__ray:nth-child(#{$i + 1}) {
      transform: rotate(calc(-1 * $i) * $raysRotation) translateY(3.1rem);
    }
  }
}

@keyframes light-bulb-appear {
  0% {
    transform: translate(-50%, -20%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes light-ray-expand {
  0% {
    opacity: 0;
    clip-path: polygon(25% 0, 75% 0, 100% 0, 0 0);
  }

  100% {
    opacity: 1;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  }
}

$sectionsNum: 3;
$sectionRotation: calc(360deg / $sectionsNum);
@for $i from 0 through $sectionsNum {
  .section-wrapper:nth-child(#{$i + 1}) {
    transform: rotate($i * $sectionRotation)
      translateY(calc($spinnerHeight/2)-3);
  }
}

.flash-effect {
  position: absolute;
  z-index: 5;
  height: 110vh;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(228, 228, 228);
  animation-name: flash-appear;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: #{calc($undarkDuration - 2.6)}s;
  opacity: 0;
  pointer-events: none;
}

.scrollbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 1rem;
  overflow-y: scroll;
  z-index: 11;
}

.scrollbar {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 500vh;
}

.scrollto {
  position: absolute;
  bottom: 1rem;
  height: 2rem;
  aspect-ratio: 1 / 1;
}

.scrollto--left {
  left: 1rem;
  right: auto;
}

.scrollto--left {
  right: 1rem;
  left: auto;
}

.half-page {
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes flash-appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  box-sizing: border-box;
  top: 0;
  right: 0;
  right: 0;
  width: 98%;
  z-index: 10;
  border-radius: 100px 0 0 100px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}

.nav__logo {
  height: 4rem;
  aspect-ratio: 1 / 1;
}

.nav__links-list {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  padding: 2rem;
  width: 60%;
  height: 100vh;
  transform: translateY(100%) translateX(100%);
  z-index: 12;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(15px);
  transition: all 0.4s;
}

.nav__links-list.active {
  transition: all 0.4s;
  transform: translateY(100%);
}

.nav__nav-link-li {
  display: block;
  margin-bottom: 1.5rem;
  transform: translateX(30%);
  opacity: 0;
  animation-fill-mode: forwards;
}

@for $i from 1 through 5 {
  .nav__nav-link-li:nth-child(#{$i}) {
    animation-delay: #{$i * 60}ms;
  }
}

.active .nav__nav-link-li {
  animation-name: nav-link-appear;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes nav-link-appear {
  0% {
    opacity: 0;
    transition: all 1s;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.nav__nav-link {
  position: relative;
  display: inline-block;
  color: $whiteColor;
}

.nav__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  max-height: 0;
  background-color: $mainColor;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.2s;
}

.nav__nav-link:hover::after {
  max-height: 3px;
  transition: all 0.2s;
}

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  aspect-ratio: 3 / 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger__bar {
  width: 100%;
  height: 3px;
  background-color: $whiteColor;
  border-radius: 10px;
  transform-origin: 0.2rem;
  transition: all 0.3s;
}

.active .hamburger__bar:nth-child(1) {
  transform: rotate(45deg);
  transition: all 0.3s;
}

.active .hamburger__bar:nth-child(2) {
  opacity: 0;
  transition: all 0.3s;
}

.active .hamburger__bar:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
}

.section__img,
.figure {
  border-radius: 7px;
}

.section__img,
.figure {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.figure {
  aspect-ratio: 3 / 2;
  margin: auto;
  margin-bottom: 2rem;
}

.figure__content {
  border: none;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.figure__legend {
  text-align: center;
  color: $whiteColor;
  margin-top: 0.5rem;
}

.catalogs-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.catalog {
  width: 7rem;
  max-width: 25%;
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  transition: all 0.3s;

  &__logo {
    height: 100%;
    width: 100%;
  }
}

.catalog:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.btn-wrapper {
  display: block;
  position: relative;
}

.btn-wrapper--center {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1rem 1.5rem;
  background-color: $mainColor;
  border-radius: 100px;
  color: $whiteColor;
  box-shadow: 0 12px 20px 1px rgba(0, 0, 0, 0.15);
}

.btn--white {
  background-color: $whiteColor;
  color: $mainColor;
}

.btn--margin-top-2 {
  margin-top: 2rem;
}

.btn--margin-top-1 {
  margin-top: 1rem;
}

.btn--margin-bottom-1 {
  margin-bottom: 1rem;
}

.cards-list {
  display: block;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 3rem;
}

.card {
  $backcroundColor: $mainColor;
  padding: 0.7rem;
  padding-bottom: 1.5rem;
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
  background-color: $backcroundColor;
  border-radius: 7px;
  color: $whiteColor;

  &__img {
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 5 / 2;
    object-fit: cover;
    box-shadow: 0 5px 20px 1px mix(rgba(0, 0, 0, 0.5), $mainColor);
  }

  &__title {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
  }

  &__p {
    text-align: justify;
    color: rgba($whiteColor, 0.8);
  }
}

.card:nth-child(even) {
  background-color: darken($mainColor, 20%);
}

.card:nth-child(even) .btn {
  color: darken($mainColor, 20%);
}

.instagram-media {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 550px) {
  .section {
    width: 80vw;
    max-width: 100%;
  }

  .section__main-text {
    float: left;
    width: 50%;
    margin: auto;
  }

  .section__img {
    width: 25%;
    margin: auto;
  }

  .nav {
    padding: 0.3rem;
  }

  .nav__home-link {
    margin-left: 0.5rem;
  }

  .nav__links-list {
    position: relative;
    display: flex;
    width: 60%;
    height: initial;
    transform: none;
    background-color: transparent;
    backdrop-filter: none;
    justify-content: space-around;
    list-style-type: none;
    padding: 2rem;
  }

  .hamburger {
    display: none;
  }

  .nav__nav-link-li {
    margin-bottom: 0;
    transform: none;
    animation: none;
    opacity: 1;
  }

  .catalog {
    width: 7rem;
    max-width: initial;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }

  .map-image-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .map-image-wrapper .section__img {
    height: 100%;
    width: 40%;
    aspect-ratio: initial;
    margin: 0;
  }

  .figure {
    width: 60%;
    margin: 0;
  }

  .map-image-wrapper .section__img,
  .figure {
    max-height: 70vh;
  }

  .section__title {
    font-size: 5rem;
  }
}
